<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body class="text-center">
<div class="rounded border shadow p-5 col-4 mx-auto mt-5">
    <h1 th:text="#{sing-in.title.label}"></h1>
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="alert alert-danger" th:text="#{login.param.error}"></div>
        <div th:if="${param.logout}" class="alert alert-success" th:text="#{login.param.logout}"></div>
        <div th:if="${param.registration}" class="alert alert-success" th:text="#{login.param.registration}"></div>
        <div class="mb-2">
            <label for="username">
                <span th:text="#{username.label}"></span>
                <input class="form-control" type="text" name="username" id="username">
            </label>
        </div>
        <div class="mb-2">
            <label for="password">
                <span th:text="#{password.label}"></span>
                <input class="form-control" type="password" name="password" id="password">
            </label>
        </div>
        <div class="form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" name="remember-me" id="remember-me">
            <label class="form-check-label" for="remember-me">
                <span th:text="#{remember-me.label}"></span>
            </label>
        </div>
        <input type="submit" class="btn btn-primary" th:value="#{sign-in.label}">
    </form>
</div>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>