<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body class="text-center">
<div class="rounded border shadow p-5 col-4 mx-auto mt-5">
    <h1>SIGN UP</h1>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <div th:if="${param.error}" class="alert alert-danger">
            Error
        </div>
        <div class="mb-2">
            <label for="username">Username
                <input class="form-control" type="text" name="username" id="username">
            </label>
        </div>
        <div class="mb-2">
            <label for="password">Password
                <input class="form-control" type="password" name="password" id="password">
            </label>
        </div>
        <div class="mb-3">
            <label for="password">Repeat password
                <input class="form-control" type="password" name="repeat-password" id="repeat-password">
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Sign Up">
    </form>
</div>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>